/* Structure */
.detail-page {
    margin: 20px;
    padding: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
}

.table-comment {
    margin-top: 15px;
    width: 100%;
}

.full-width {
    width: 100%;
}